* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  
  ol,
  ul,
  li {
    list-style: none;
    display: block;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
   
  button,
  textarea,
  select {
    -moz-appearance: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
  }

body{
      background-color: #F7E4D4;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

#form{
    width: 100%;
    max-width: 520px;
    padding: 20px;
    margin: 0 auto;
  }

h1{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;

    color: #467745;

    margin-bottom: 20px;
  }

  
input[type="text"]{
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      padding: 20px;

      color: #467745;
      background-color: white;
      
      min-width: 480px;
      height: 64px;

      margin-bottom: 20px;
    }

textarea {
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 20px;

    color: #467745;
    background-color: white;

    min-width: 480px;
    height: 120px;

    margin-bottom: 20px;
    }

.checkbox-container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;

    margin-bottom: 20px;

    display: flex;
    align-items: center;

    color: #467745;;
}

p a{
    text-decoration: underline;
}

input[type="checkbox"]{
    margin-right: 20px;
}

button{
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    margin: 0 auto;
    display: block;

    max-width: 280px;
    width: 280px;
    height: 80px;

    background-color: #467745;
    color: #F7E4D4;

    border-radius: 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


@media (max-width: 520px){
    h1{
        font-size: 36px;
        text-align: left;
      }

    input[type="text"]{
        width: 480px; 
    }
    textarea{
        width: 480px;
    }
    }